.reviews 
    padding-bottom: 70px
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
    &__item
        margin-top: 70px
        display: flex
        justify-content: flex-start
        align-items: center
    &__img
        width: 169px
        height: 169px

    &__reviews-inner
        width: 650px
        height: 190px
        margin-left: 62px
    &__name
        color: #0d0d0d
        font-size: 18px
        font-weight: 700
    &__achievement
        margin-top: 10px
        color: #646464
        font-size: 14px
        font-weight: 300
    &__comment
        margin-top: 19px
        color: #0d0d0d
        font-size: 15px
        font-weight: 300
